#signature {
    font-family: 'Alata', sans-serif;
    color: 	#CC7722;
}

.hero-image {
    background-image: url("../../assets/pdx1.jpg"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    height: 500px; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    min-height: 83vh;
  }

  #siteName {
      padding-top: 12vh;
  }