#navbar {
    color: white;
    background-color: #005082;
    font-family: 'Alata', sans-serif;
}

.navList {
    height: 70px;
}

.navItem {
    font-size: large;
    color: white;
    border-bottom-style: hidden;
    border-width: 3px;
}

.navItem:hover {
    border-bottom-style: solid;
    border-width: 3px;
}
