#footer {
    color: white;
    background-color: #005082;
    position: absolute;
    bottom: 0;
    height: 2.5rem;
    margin-bottom: 0;
    width: 100%;
}

#copyright {
    font-size: small;
    font-family: 'Alata', sans-serif;
}

.footerLink {
    color: white;
}

.footerLink:hover {
    text-decoration: none;
    color: white;
}
